.container-fluid.bg-white.mt-5
  .row
    .col-lg-4.p-4
      h3.h-font.fw-bold.fs-3.mb-2 #{settingGeneral.websiteName}
      p !{settingGeneral.introduction}
        
    .col-lg-4.p-4
      h5.mb-3 Đường dẫn
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/") Trang chủ
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/rooms") Phòng
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/facilities") Dịch vụ
      br
      a.d-inline-block.mb-2.text-dark.text-decoration-none(href="/contact") Liên hệ
      br
    .col-lg-4.p-4
      h5.mb-3 Theo dõi chúng tôi
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href=`${settingGeneral.twitter}`)
        i.bi.bi-twitter.me-1
        | Twitter
      br
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href=`${settingGeneral.facebook}`)
        i.bi.bi-facebook.me-1
        | Facebook
      br
      a.d-inline-block.mb-3.text-dark.text-decoration-none(href=`${settingGeneral.instagram}`)
        i.bi.bi-instagram.me-1
        | Instagram
      br