extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  +alert-error(5000)
  +alert-success(5000)

  h1(class="mb-4") Chỉnh sửa voucher
  form(
    action=`${prefixAdmin}/vouchers/edit/${voucher.id}?_method=PATCH`
    id="form-edit-voucher"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  )
    div(class="form-group")
      label(for="code") Mã 
      input(
        type="text"
        class="form-control"
        id="code"
        name="code"
        value=voucher.code
        required
      )
    div(class="form-group")
      label(for="discountValue") Giá trị giảm giá:
      input(
        type="number"
        class="form-control"
        id="discountValue"
        max="100"
        name="discountValue"
        required
        value=voucher.discountValue
      )
    div(class="form-group")
      label(for="expirationDate") Ngày hết hạn:
      input(
        type="date" 
        class="form-control"
        id="expirationDate" 
        name="expirationDate"
        value=`${new Date(voucher.expirationDate).toISOString().slice(0, 10)}` 
        required
      )
    div(class="form-group")
      label(for="usageLimit") Giới hạn số lần sử dụng:
      input(
        type="number" 
        id="usageLimit" 
        class="form-control"
        name="usageLimit" 
        value=voucher.usageLimit
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(voucher.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(voucher.status == "inactive" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật
    


