extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug


block main
  +alert-success(5000)
  h1 Trang voucher

  .card.mb-3
      .card-header Danh sách voucher
      .card-body
        .row 
          .col-8 
          .col-4 
            a(
              href=`${prefixAdmin}/vouchers/create`
              class="btn btn-outline-success my-3"
            ) + Thêm mới
        table(
          class="table table-hover table-sm "
          checkbox-multi 
        )      
          thead 
            tr 
              th 
                input(type="checkbox" name="checkall")
              th STT
              th Mã
              th Giá trị
              th Thời hạn
              th Giới hạn sử dụng
              th Trạng thái
              th Ngày tạo
              th Hành động
            tbody 
              each item, index in vouchers 
                tr 
                  td 
                    input(
                      type="checkbox"
                      name="id"
                      value=item.id  
                    )
                  td #{index + 1}
                  td #{item.code}
                  td #{item.discountValue}%
                  td 
                    p
                      +formatDate(item.expirationDate)  
                  td #{item.usageLimit}
                  td 
                    if(item.status == "active")
                      a(
                        href="javascript:;"
                        data-status=item.status
                        data-id=item.id
                        button-change-status 
                        class="badge badge-success"
                      ) Hoạt động
                    else
                      a(
                        href="javascript:;"
                        data-status=item.status
                        data-id=item.id
                        button-change-status 
                        class="badge badge-danger"
                      ) Dừng hoạt động  
                  td 
                    p 
                      +formatDate(item.createdAt)  
                  td
                    a(
                      href=`${prefixAdmin}/vouchers/detail/${item.id}`
                      class="btn btn-secondary btn-sm"
                    ) Chi tiết
                    a(
                      href=`${prefixAdmin}/vouchers/edit/${item.id}`
                      class="btn btn-warning btn-sm ml-1"
                    ) Sửa
                    button(
                      class="btn btn-danger btn-sm ml-1"
                      button-delete
                      data-id=item.id
                    ) Xóa
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/accounts/delete`
  )

    script(src="/admin/js/voucher.js")


