mixin filter(facilities, features, facilitiesArray, featuresArray)
  .col-lg-3.col-md-12.mb-lg-0.mb-4.ps-4
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.rounded.shadow
      .container-fluid.flex-lg-column.align-items-stretch
        h4.mt-2 BỘ LỌC
        button.navbar-toggler.shadow-none(
          type="button"
        )
          span.navbar-toggler-icon
        #filterDropdown.collapse.navbar-collapse.flex-column.align-items-stretch.mt-2
          //- Check availability
          form(
              id="form-filter-room" 
              action=`/rooms` 
              method="GET" 
            )
            .border.bg-light.p-3.rounded.mb-3
              h5.d-flex.align-items-center.justify-content-between.mb-3(style="font-size: 18px;")
              label.form-label Ngày đặt phòng
              input(
                id="checkin"
                class="form-control shadow-none mb-3"
                name="checkin"
                onchange="filterRooms()" 
                type="date"
              )
              label.form-label Ngày trả phòng
              input(
                class="form-control shadow-none"
                id="checkout"
                onchange="filterRooms()" 
                name="checkout"
                type="date"
              )
              //- Facilities
            .border.bg-light.p-3.rounded.mb-3
            
              h5.d-flex.align-items-center.justify-content-between.mb-3(style="font-size: 18px;") Cấu hình
              each facility in facilities
                div(class="mb-2")
                  input(
                    id=facility.id
                    name="facility"
                    class="shadow-none me-1" 
                    type="checkbox"
                    onchange="filterRooms()"
                    checked=(facilitiesArray.includes(facility.id) ? true : false)
                  )
                  label.form-check-label(for=facility.id) #{facility.title}
              h5.d-flex.align-items-center.justify-content-between.mb-3(style="font-size: 18px;") Tiện nghi
              each feature in features
                div(class="mb-2")
                  input(
                    id=feature.id 
                    name="feature" 
                    class="shadow-none me-1" 
                    type="checkbox"
                    onchange="filterRooms()"
                    checked=(featuresArray.includes(feature.id) ? true : false)
                    )
                  label.form-check-label(for=feature.id) #{feature.title}
              
            .border.bg-light.p-3.rounded.mb-3
              h5.mb-3(style="font-size: 18px;") Số lượng
              .d-flex
                .me-4
                  label.form-label Người lớn
                  input(
                    class="form-control shadow-none"
                    type="number"
                    name="adult"
                    onchange="filterRooms()"
                  )
                div
                  label.form-label Trẻ em
                  input(
                    class="form-control shadow-none"
                    type="number"
                    name="children"
                    onchange="filterRooms()"
                  )