extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug


block main
  .container
    +alert-success(5000)
    +alert-error(5000)
    .row
      .col-12.my-5.mb-4.px-4
        h2.fw-bold #{pageTitle}
        div(style="font-size: 14px;")
          a.text-secondary.text-decoration-none(href="/") Trang chủ 
          span.text-secondary >
          a.text-secondary.text-decoration-none(href="#")  Phòng đã đặt
      each booking in bookings
        .col-md-4.px-4.mb-4
          .bg-white.p-3.rounded.shadow
            h5.fw-bold #{booking.room_id.name}
            p Giá mỗi đêm
            p
              b Check in:
              | 
              +formatDate(booking.check_in)
              br
              b Check out:
              | 
              +formatDate(booking.check_out)

            p
              b Tổng tiền:
              |  #{booking.trans_amt}
              br
              b Mã order:
              |  #{booking.order_id}
              br
              b Ngày đặt: 
              |  
              +formatDate(booking.createdAt)
            if(booking.booking_status == "booked")
              p
                span.badge.bg-success Dã đặt
            else if(booking.booking_status == "payment_failed")
              p
                span.badge.bg-danger Dã hủy 
            else 
              p
                span.badge.bg-warning  Đang thanh toán 

            button.btn.btn-dark.btn-sm.shadow-none(
              data-bs-target=`#reviewModal` 
              data-bs-toggle="modal" 
              type="button"
            ) Đánh giá và nhận xét

            #reviewModal.modal.fade(
              aria-hidden="true" 
              aria-labelledby="staticBackdropLabel" 
              tabindex="-1" 
              data-bs-keyboard="false" 
              data-bs-backdrop="static"
            )
              .modal-dialog
                .modal-content
                  form#review-form(
                    method="POST" 
                    action="/user/submit-review"
                  )
                    .modal-header
                      h5.modal-title.d-flex.align-items-center
                        i.bi.bi-chat-square-heart-fill.fs-3.me-2
                        | Đánh giá và nhận xét
                      button.btn-close.shadow-none(
                        aria-label="Close" 
                        data-bs-dismiss="modal" 
                        type="reset"
                        )
                    .modal-body
                      .mb-3
                        label.form-label Đánh giá
                        select.form-select.shadow-none(name="rating")
                          option(value="5") Tuyệt vời
                          option(value="4") Hài lòng
                          option(value="3") Tốt 
                          option(value="2") Tệ
                          option(value="1") Cực tệ
                      .mb-4
                        label.form-label Nhận xét
                        textarea.form-control.shadow-none(
                          rows="3" 
                          name="review" 
                          type="text"
                          )
                      input(
                        name="booking_id" 
                        type="hidden"
                        value=booking.id
                      )
                      input(
                        name="room_id" 
                        type="hidden"
                        value=booking.room_id._id
                      )
                      input(
                        name="usser_id" 
                        type="hidden"
                        value=booking.user_id._id
                      )
                      .text-end
                        button.btn.custom-bg.text-white.shadow-none(type="submit") Gửi
                  

    
