extends ../../layouts/default.pug
include ../../mixins/filter.pug

block main 

  .my-5.px-4
    h2.fw-bold.h-font.text-center #{pageTitle}
    .h-line.bg-dark
  .container-fluid
    .row
      +filter(facilities, features, facilitiesArray, featuresArray)
      
      .col-lg-9.col-md-12.px-4.mb-lg-0.mb-md-0.mb-3
        each room, index in rooms
          .card.mb-4.border-0.shadow
            .row.g-0.p-3.align-items-center
              .col-md-5
                img.img-fluid.rounded(src=room.thumbnail)
              .col-md-5.px-lg-3.px-md-3.px-0
                h5.mb-1 #{room.name}
                .features.mb-3
                  h6.mb-3 Tiện nghi
                  each feature in room.features
                    span.badge.bg-light.text-dark.text-wrap.mx-1 #{feature.title}
                 
                .facilities.mb-3
                  h6.mb-1 Tính năng
                  each facility in room.facilities
                    span.badge.bg-light.text-dark.text-wrap.mx-1 #{facility.title}
                   
                .guests
                  h6.mb-1 Số lượng
                  span.badge.bg-light.text-dark.text-wrap.mx-1 #{room.adult} người lớn
                  span.badge.bg-light.text-dark.text-wrap.mx-1 #{room.children} trẻ con
              .col-md-2.text-center.mt-lg-0.mt-md-0.mt-4
                h6.mb-4 #{room.price}/ngày
                a.btn.btn-md.w-100.text-white.custom-bg.shadow-none.mb-2(href=`rooms/book_now/${room.id}`) Đặt ngay
                a.btn.btn-sm.w-100.mt-2.btn-outline-dark(href=`rooms/detail/${room.id}`) Chi tiết
  
  script(src="/js/room.js")
        
          