extends ../../layouts/default.pug

block main 

  .my-5.px-4
    h2.fw-bold.h-font.text-center #{pageTitle}
    .h-line.bg-dark
  .container-fluid
    .row
      .col-lg-3.col-md-12.mb-lg-0.mb-4.ps-4
        nav.navbar.navbar-expand-lg.navbar-light.bg-white.rounded.shadow
          .container-fluid.flex-lg-column.align-items-stretch
            h4.mt-2 BỘ LỌC
            button.navbar-toggler.shadow-none(
              aria-label="Toggle navigation" 
              aria-expanded="false" 
              aria-controls="navbarNav" 
              data-bs-target="#filterDropdown" 
              data-bs-toggle="collapse" 
              type="button"
            )
              span.navbar-toggler-icon
            #filterDropdown.collapse.navbar-collapse.flex-column.align-items-stretch.mt-2
              //- Check availability
              .border.bg-light.p-3.rounded.mb-3
                h5.d-flex.align-items-center.justify-content-between.mb-3(style="font-size: 18px;")
                label.form-label Ngày đặt phòng
                input#checkin.form-control.shadow-none.mb-3(
                  onchange="chk_avail_filter()" 
                  type="date"
                )
                label.form-label Ngày trả phòng
                input#checkout.form-control.shadow-none(
                  onchange="chk_avail_filter()" 
                  type="date"
                )
                //- Facilities
              .border.bg-light.p-3.rounded.mb-3
                h5.d-flex.align-items-center.justify-content-between.mb-3(style="font-size: 18px;") Cấu hình
                each facility in facilities
                  div(class="mb-2")
                    input(
                      id="f1" 
                      class="shadow-none me-1" 
                      type="checkbox"
                      facility-id=facility.id
                      filter-rooms
                    )
                    label.form-check-label(for=`facility-${facility.id}`) #{facility.title}
                h5.d-flex.align-items-center.justify-content-between.mb-3(style="font-size: 18px;") Tiện nghi
                each feature in features
                  div(class="mb-2")
                    input(
                      id="f1" 
                      class="shadow-none me-1" 
                      type="checkbox"
                      filter-rooms
                      )
                    label.form-check-label(for=`feature-${feature.id}`) #{feature.title}
              .border.bg-light.p-3.rounded.mb-3
                h5.mb-3(style="font-size: 18px;") Số lượng
                .d-flex
                  .me-4
                    label.form-label Người lớn
                    input.form-control.shadow-none(type="number")
                  div
                    label.form-label Trẻ em
                    input.form-control.shadow-none(type="number")
      .col-lg-9.col-md-12.px-4.mb-lg-0.mb-md-0.mb-3
        each room, index in rooms
          .card.mb-4.border-0.shadow
            .row.g-0.p-3.align-items-center
              .col-md-5
                img.img-fluid.rounded(src=room.thumbnail)
              .col-md-5.px-lg-3.px-md-3.px-0
                h5.mb-1 #{room.name}
                .features.mb-3
                  h6.mb-3 Tiện nghi
                  each feature in room.features
                    span.badge.bg-light.text-dark.text-wrap.mx-1 #{feature.title}
                 
                .facilities.mb-3
                  h6.mb-1 Tính năng
                  each facility in room.facilities
                    span.badge.bg-light.text-dark.text-wrap.mx-1 #{facility.title}
                   
                .guests
                  h6.mb-1 Số lượng
                  span.badge.bg-light.text-dark.text-wrap.mx-1 #{room.adult} người lớn
                  span.badge.bg-light.text-dark.text-wrap.mx-1 #{room.children} trẻ con
              .col-md-2.text-center.mt-lg-0.mt-md-0.mt-4
                h6.mb-4 #{room.price}/ngày
                a.btn.btn-md.w-100.text-white.custom-bg.shadow-none.mb-2(href="") Đặt ngay
                a.btn.btn-sm.w-100.mt-2.btn-outline-dark(href=`rooms/detail/${room.id}`) Chi tiết
  
  script(src="/js/room.js")
        
          