extends ../../layouts/default.pug

block main 
  .my-5.px-4
  h2.fw-bold.h-font.text-center #{pageTitle}
  .h-line.bg-dark
  p.text-center.mt-3
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere modi id, in exercitationem, enim cumque suscipit, nemo
    br
    | alias consequuntur eos reiciendis! Illum provident architecto inventore dicta! Quod obcaecati quasi laborum!

  .container
    .row
      .col-lg-6.col-md-6.mb-5.px-4
        .bg-white.rounded.shadow.p-4
          iframe.w-100.rounded.mb-4(
            loading="lazy" 
            src=`${settingGeneral.iframe}` 
            height="320"
            )
          h5 Địa chỉ
          a.d-inline-block.text-decoration-none.text-dark.mb-2(
            target="_blank" 
            href=`${settingGeneral.gmap}`
            )
            i.bi.bi-geo-alt-fill  #{settingGeneral.address}
          h5 Số điện thoại
          a.d-inline-block.mb-2.text-decoration-none.text-dark(href="#")
            i.bi.bi-telephone-fill
            |  #{settingGeneral.phone}
          h5.mt-4 Email
          a.d-inline-block.text-decoration-none.text-dark(href="ask.tjwebdev@gmail.com")
            i.bi.bi-envelope-fill  #{settingGeneral.email}
          <h5 class="mt-4 ">Theo dõi chúng tôi</h5>
          a.d-inline-block.text-dark.fs-5.me-2(href=`${settingGeneral.twitter}`)
            i.bi.bi-twitter.me-1
          a.d-inline-block.text-dark.fs-5.me-2(href=`${settingGeneral.facebook}`)
            i.bi.bi-facebook.me-1
          a.d-inline-block.text-dark.fs-5(href=`${settingGeneral.instagram}`)
            i.bi.bi-instagram.me-1
      
      .col-lg-6.col-md-6.px-4
        .bg-white.rounded.shadow.p-4
          form(
            method="POST"
          )
            h5 Gửi tin nhắn cho chúng tôi
            .mt-3
              label.form-label(style="font-weight: 500;") Tên
              if(user)
                input.form-control.shadow-none(
                  required="" 
                  name="fullName" 
                  type="text"
                  value=user.fullName
                  )
              else 
                input.form-control.shadow-none(
                  required="" 
                  name="fullName" 
                  type="text"
                  )
            .mt-3
              label.form-label(style="font-weight: 500;") Email
              if(user)
                input.form-control.shadow-none(
                  required="" 
                  name="email" 
                  type="email"
                  value=user.email
                  )
              else 
                input.form-control.shadow-none(
                  required="" 
                  name="email" 
                  type="email"
                )
            .mt-3
              label.form-label(style="font-weight: 500;") Chủ đề
              input.form-control.shadow-none(
                required="" 
                name="subject" 
                type="subject"
                )
            .mt-3
              label.form-label(style="font-weight: 500;") Nội dung
              textarea.form-control.shadow-none(
                style="resize: none;" 
                rows="5" 
                required="" 
                name="message"
                )
            button.btn.text-white.custom-bg.mt-3(
              type="submit"
              ) GỬI