.sider 
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Tổng quan 
      li 
        a(href=`${prefixAdmin}/rooms`) Danh sách phòng
      li 
        a(href=`${prefixAdmin}/rooms-category`) Danh mục phòng
      li 
        a(href=`${prefixAdmin}/rooms-facility`) Cơ sở vật chất
      li
        a(href=`${prefixAdmin}/roles`) Nhóm quyền
      li
        a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
      li
        a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản